.otherContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: black;
    height: 100vh;
    justify-content: left;
    /* background-color: black; */
    position :fixed;
    left: 0;
  }
  
  .OnlineUsers {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
    /* background-color: black; */
  }
  
  .userName {
    display: flex;
    align-items: center;
  }
  
  
  .otherContainer h1 {
    margin-bottom: 0px;
  }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }